<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartChef.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
				<key>dateExpires</key>
				<string>17/07/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DB7360B32181A2739DA0ED91E3B1CC16D9CDA54E</string>
						<key>dateExpires</key>
						<string>17/07/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z7SKLJWUMQ</string>
						<key>name</key>
						<string>Exousia Info Services Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z7SKLJWUMQ.com.exousia.GMapsDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z7SKLJWUMQ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z7SKLJWUMQ.com.exousia.GMapsDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>SmartChef.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f5a1d73b-b222-4fe7-b459-ef9d0c4a6dd9</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z7SKLJWUMQ</string>
				<key>name</key>
				<string>Exousia Info Services Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
