<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769974941855-q1lk5g43i4t2ji6breunjt421mgdeigd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769974941855-q1lk5g43i4t2ji6breunjt421mgdeigd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769974941855-r2v718o9g7vpusef2ruj4c0tnttk3o3q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_5RNpNxmxJVMyzQuFcOHVhKqHjYYhycw</string>
	<key>GCM_SENDER_ID</key>
	<string>769974941855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hadi.smartChef</string>
	<key>PROJECT_ID</key>
	<string>smartchef-56ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>smartchef-56ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769974941855:ios:1efd5ba1f0a4f813</string>
	<key>DATABASE_URL</key>
	<string>https://smartchef-56ec4.firebaseio.com</string>
</dict>
</plist>